 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head{

    font-family: 'Montserrat', sans-serif;
    color: $Color;
    font-weight: bold;


}
body{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;

}
a {
    text-decoration: none;
    
}


.header {
    background-color: #6A0649;
    color: bisque;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: $Color;
}
.navbar-toggler{
    background-color: #6A0649;
}

.btn{
    color: $Color;
}


$navegador: (
    estilo: none,
    vinculacion: flex,
    direccion: row,
    alineacion: center,
    color: black,

);

.nav {
    list-style: map-get($navegador, estilo );
    display: map-get( $navegador , vinculacion );
    flex-direction: map-get($navegador , direccion );
    align-items: map-get($map: $navegador, $key: alineacion );
    color: map-get($map: $navegador, $key:color );
    font-size: 100%;
    &-item {
    margin-right: 16px;
    color: $Color;
    list-style: none;
    }

          
    &-link{

        color: black;
    }

    &-link:hover{
            color: plum;
            cursor: pointer;
    }
}

header{

    font-family: 'Montserrat', sans-serif;
    color: $Color;
    font-weight: bold;


}

$alineacion:(
    titulo:center,
    texto:justify
);


@each $clave, $valor in $alineacion {

    //clave-> titulo, valor->center

    .propiedades-#{$clave}{
        text-align: $valor;
        color: black;
    }
    
}

.propiedades-titulo {
   
    font-weight: bold;
    font-size: 205%;
    margin: 30px;
       
}

.propiedades-texto{
    font-size: 100%;
    font-style: normal;
    padding: 10px;
    margin: 10px;

}

footer{
    position: relative;

}


.textoPie {
    text-align:end;
    color: black;
    float: left;
    margin-top: 20px;    margin-left: 20px;
}

.whatsapp {
    
    color: $Color;
    text-align: center;
    position: fixed;
    right: 1rem;
    margin-top: 20px;    margin-left: 20px;
    bottom: 4rem;
}


.fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    }
    
    .fab:hover {
    opacity: 0.7;
    }
    
    .fa-whatsapp {
    background: green;
    color: white;
    }