
.flexbox-contacto{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contacto{
    font-size: 180%;
    flex-direction: row;
    position: relative;
    color: black;
    padding: 0 0 10px 0;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}

.card{
    margin: 20px;

}

.detalle-contacto{
    display:flex;
    flex-direction:row;
    position: relative;
    & div{
        margin: 20px;
    }

}


.consulta{
    display:flex;
    flex-direction:row;

}

.consulta div{
    margin: 20px;
    padding: 0px;
}
button{
    position: relative;
}

.btn{
    background-color: blue;
    float: right;

}

