@media screen and (max-width:600px) {
    .flexbox-contacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        text-align: $Centrado;
    }
    .cabeza-obras{
        text-align: $Centrado;
    }
 
}
