
.cabeza-objetivo{
    background-image: url(../imagenes/b1-2.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;

}
.flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    height: 900px;
    
}


.fila{
    --bs-gutter-x: 0;
    margin-top: 200px;
    padding: auto;
}


