
.cabeza-objetivo{
    background-image: url(../imagenes/b1-2.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.containerO{
    margin-top: 200px;
    
}

.row{
    --bs-gutter-x: 0;
}
.objetivos div {
    display:flex;
    flex-direction:row;
    padding: 0%;
}

.video{
    display:flex;
    flex-direction:row;
    margin-left: 0;
    padding: 0%;
}
