.cabeza-obras{
    background-image: url(../imagenes/de-la-biblioteca-de-alejandria-a-la-del-congreso-de-washington-las-bibliotecas-mas-sorprendentes-del-mundojpg.webp);
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}


.obras div{
    margin: 20px;
}
.obras-portadas{
    text-align: $Centrado;
    margin: 20px;
}

.obras-titulos{
    margin: 20px;
    text-align: $Centrado;
}


.obras-portadas p{
    text-align: $Centrado;
    padding-left: 40%;
    padding-right: 40%;
}

.carousel-item{
    text-align: center;
}

button{
   text-align: end;
}