.cabeza-obras{
    background-image: url(../imagenes/de-la-biblioteca-de-alejandria-a-la-del-congreso-de-washington-las-bibliotecas-mas-sorprendentes-del-mundojpg.webp);
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

@mixin estilo ($margen, $alineado) {

    margin: $margen;
    text-align: $alineado;

}

.obras-portadas{
    @include estilo (20px, center)
}

.obras-titulos{
    @include estilo(20px, center)
}

.obras-portadas p{
    text-align: $Centrado;
    padding-left: 40%;
    padding-right: 40%;
}

.carousel{
    height: 500px;
}
.carousel-item{
    text-align: $Centrado;
}

button{
   text-align: end;
}