.cabeza-profesionales{
    background-image: url(../imagenes/escribiendo.jpg);
    background-attachment: fixed ;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;

}


.grid_profesionales{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 1000px;
    grid-template-areas: 
    "titulo titulo titulo" 
    "pf1 pf2 pf3"
    ;

    justify-content: $Centrado;
    align-content: $Centrado;
    justify-items: $Centrado;
    align-items: $Centrado;
}

.grid_profesionales-titulo{
    grid-area: titulo;
    font-size: 25px;
    text-align: $Centrado;
    height: 1px;
    font-weight: lighter;
}

.profesionales-subtitulo{
    text-align: $Centrado;
    font-size: 20px;
    height: 50px;
    font-weight: bold;
}
.grid_profesionales-1{
    grid-area: pf1;
}

.grid_profesionales-2{
    grid-area: pf2;
    
}

.grid_profesionales-3{
    grid-area: pf3;
    
}

.profesionales-presentacion{
    text-align: $Centrado;
    font-size: 18px;
}
